langchain==0.3.3
langchain-community==0.3.2
langchain-openai==0.2.2
python-dotenv==1.0.1
streamlit==1.23.0
unstructured==0.15.14
tiktoken==0.8.0
faiss-cpu==1.9.0
libmagic==1.0
python-magic==0.4.27
python-magic-bin==0.4.14
openai==1.51.2
